#account-info-title {
    padding: 20px;
}

.button-div {
    display: block;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
}

#modify-button {
    width: 120px;
}

#verify-edit {
    width: 80%;
}

#modify_password-form-field {
    width: 100%;
    margin: 0 20px;
    box-sizing: border-box;
}