#account-info-title {
    padding: 20px;
}

.button-div {
    display: block;
    width: 300px;
    margin: 20px;
}

#modify-button {
    width: 120px;
}

#verify-to-modify-button {
    width: 180px;
}