body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

@media only screen and (max-width: 800px) {
    .main-dev-no-margin {
        margin-left: 0 !important;
    }

    #verify-surface {
        width: available !important;
    }

    #verify-dialog {
        width: 80% !important;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .fill-1000 {
        width: 100% !important;
    }
}

.crimson {
    color: crimson;
}

.app-bar {
    position: absolute;
    z-index: 7;
}

.input {
    display: block !important;
    margin: 20px 20px;
    box-sizing: border-box;
}

.surface {
    text-align: center;
    background: whitesmoke;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
    margin: 20px auto;
    box-sizing: border-box;
    left: 0;
    right: 0;
}

.rect-surface {
    text-align: center;
    background: whitesmoke;
    width: available;
    height: fit-content;
    margin: 0;
}

.wrapper {
    position: relative;
    height: fit-content;
    margin: auto;
    left: 0;
    right: 0;
}

.wrapper-margin {
    position: relative;
    height: fit-content;
    margin: auto;
    padding: 8px;
    box-sizing: border-box;
}

.inline-wrapper {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    vertical-align: top;
}

.center-wrapper {
    width: 95%;
    height: fit-content;
    margin: auto;
    vertical-align: middle;
}

.alert-wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    vertical-align: middle;
}

.mdc-dialog__surface {
    background: #ffffffff;
}

.mdc-top-app-bar {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
}

.width-33 {
    width: 33%;
}

.width-66 {
    width: 66%;
}

#verify-surface {
    width: 600px;
}

.hidden {
    display: none !important;
}

.scale-8 {
    width: 80%;
}

.align-center {
    text-align: center;
}