.wrapper {
    text-align: center;
    background: whitesmoke;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.alert-wrapper {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mdc-dialog__surface {
    background: #ffffffff;
}
