.button-div {
    display: block;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
}

.login-button {
    width: 120px;
}

#login-title {
    padding: 20px;
}

.center-wrapper {
    width: 400px;
}
