.id-hint {
    display: block;
    text-align: left;
    width: 300px;
    margin: 20px;
}

.password, .password-repeat, .email, .phone, .register-buttons, .jump-login-div {
    display: block;
    width: 300px;
    margin: 20px;
}

.register-button {
    width: 120px;
}