{% extends "base.html" %}
{% block webpage_title %}
    个人信息 - Train Ticket
{% endblock %}
{% block child_header %}
    <link href="../static/account.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="surface">
        <h1 class="mdc-typography--headline5" id="account-info-title">修改用户信息</h1>
        <div class="button-div">
            <button onclick="show_verify('修改个人信息', '个人信息（包括密码）将可以被修改')" class="mdc-button mdc-button--raised"
                    id="verify-to-modify-button">验证
            </button>
        </div>
        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            <div class="input mdc-text-field" id="id-text-field">
                {{ form.id(class_="mdc-text-field__input", disabled="disabled") }}
                <label class="mdc-floating-label" for="id">用户ID（无法修改）</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="input mdc-text-field" id="name-text-field">
                {{ form.name(class_="mdc-text-field__input") }}
                <label class="mdc-floating-label" for="name">姓名</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="input mdc-text-field" id="email-text-field">
                {{ form.email(class_="mdc-text-field__input") }}
                <label class="mdc-floating-label" for="email">邮箱地址</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="input mdc-text-field" id="phone-text-field">
                {{ form.phone(class_="mdc-text-field__input") }}
                <label class="mdc-floating-label" for="phone">电话号码</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="input mdc-text-field" id="new_password-text-field">
                {{ form.new_password(class_="mdc-text-field__input") }}
                <label class="mdc-floating-label" for="new_password">新密码（留空以不修改密码）</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="input mdc-text-field" id="new_password_repeat-text-field">
                {{ form.new_password_repeat(class_="mdc-text-field__input") }}
                <label class="mdc-floating-label" for="new_password_repeat">重复新密码（留空以不修改密码）</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <div class="button-div" id="modify-buttons">
                <button type="reset" class="mdc-button" id="modify-reset-button">
                    <span class="mdc-button__label">重置</span>
                </button>
                <button type="submit" class="mdc-button mdc-button--raised" id="modify-button">
                    <span class="mdc-button__label">修改</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    {% if not verified %}
        const to_disable_id = ['name', 'email', 'phone', 'new_password',
        'new_password_repeat', 'modify-reset-button', "modify-button"].map((id) => {
        return document.getElementById(id);
        }).forEach((element) => {
        element.disabled = 'disabled';
        });
    {% endif %}
    account_init();
{% endblock %}