<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{% block webpage_title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='mdc-bundle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='material-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='mdc-bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% block child_header %}{% endblock %}
</head>
<body>
<header class="mdc-top-app-bar" id="app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
            <span class="mdc-top-app-bar__title">Train Ticket</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <span class="mdc-top-app-bar__title">{{ username }}</span>
            <a onclick="location.href='logout'" class="material-icons mdc-top-app-bar__action-item"
               aria-label="Download">exit_to_app</a>
        </section>
    </div>
</header>
<aside class="mdc-drawer mdc-drawer--dismissible mdc-top-app-bar--fixed-adjust">
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            <a class="mdc-list-item" id="main_page" onclick="location.href='main_page'" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
                <span class="mdc-list-item__text">首页</span>
            </a>
            <a class="mdc-list-item" id="order" onclick="location.href='order'" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">add_shopping_cart</i>
                <span class="mdc-list-item__text">订购车票</span>
            </a>
            <a class="mdc-list-item" id="ordered" onclick="location.href='ordered'" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">train</i>
                <span class="mdc-list-item__text">已购车票</span>
            </a>
            <a class="mdc-list-item" id="account" onclick="location.href='account'" aria-current="page">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
                <span class="mdc-list-item__text">个人信息</span>
            </a>
            {% if administrator %}
                <a class="mdc-list-item" id="train_manage" onclick="location.href='train_manage'" aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">device_hub</i>
                    <span class="mdc-list-item__text crimson">车次管理</span>
                </a>
                <a class="mdc-list-item" id="account_manage" onclick="location.href='account_manage'"
                   aria-current="page">
                    <i class="material-icons mdc-list-item__graphic" aria-hidden="true">folder_shared</i>
                    <span class="mdc-list-item__text crimson">账号管理</span>
                </a>
            {% endif %}
        </div>
    </div>
</aside>
<div class="mdc-drawer-app-content mdc-top-app-bar--fixed-adjust main-dev-no-margin" id="main-div"
     onclick="if (document.body.clientWidth <= 800) window.drawer.open = false">
    <main class="main-content" id="main-content">
        <div class="wrapper padding-8">
            {% block content %}{% endblock %}
        </div>
    </main>
</div>
<div class="mdc-dialog"
     id="verify-dialog"
     role="alertdialog"
     aria-modal="true"
     aria-labelledby="dialog-title"
     aria-describedby="dialog-content">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface" id="verify-surface">
            <form action="" method="post" name="register">
                <h2 class="mdc-dialog__title" id="dialog-title">需要再次验证你的密码...</h2>
                <div class="mdc-dialog__content" id="dialog-content">
                    <p><span class="mdc-typography--body1">涉及到的操作：<span id="verify-operation"></span></span>
                        <br><span class="crimson" id="verify-warning"></span>
                    </p>
                    <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                         id="verify_password-text-field">
                        <i class="material-icons mdc-text-field__icon">vpn_key</i>
                        <input type="password" class="mdc-text-field__input" id="verify_password" name="verify_password"
                               pattern="^[\u0020-\u007e]{6,20}$" required
                               oninput="
                                   document.getElementById('verify_password-text-field').classList.remove('mdc-text-field--invalid');
                                   document.getElementById('verify_password-icon').innerText = 'check';
                                   this.reportValidity();"
                               oninvalid="
                                   event.preventDefault();
                                   document.getElementById('verify_password-text-field').classList.add('mdc-text-field--invalid');
                                   document.getElementById('verify_password-icon').innerText = 'error';"
                               aria-controls="verify_password-helper-text"
                               aria-describedby="verify_password-helper-text">
                        <i class="material-icons mdc-text-field__icon" id="verify_password-icon">error</i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="mdc-floating-label" for="verify_password">密码</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field-helper-line">
                        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                             id="verify_password-helper-text" aria-hidden="true">
                            请输入符合格式的密码
                        </div>
                    </div>
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="submit" class="mdc-button mdc-dialog__button" id="verify-submit">
                        <span class="mdc-button__label">好啦~(￣▽￣)~*</span>
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
{% if success_alert or fail_alert %}
    <div class="alert-wrapper">
        <div class="mdc-dialog"
             id="base-info-dialog"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="dialog-title"
             aria-describedby="dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="dialog-title">
                        {% if success_alert %}
                            ( •̀ ω •́ )y
                        {% elif fail_alert %}
                            Oops...
                        {% endif %}
                    </h2>
                    <div class="mdc-dialog__content" id="dialog-content">
                        {% if success_alert or fail_alert %}
                            {{ message }}
                        {% endif %}
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close"
                                {% if success_alert and success_redirect %}
                                onclick="location.href='{{ success_redirect }}'"
                                {% endif %}>
                            <span class="mdc-button__label">
                                {% if success_alert %}
                                    b（￣▽￣）d　
                                {% elif fail_alert %}
                                    ╮(╯-╰)╭
                                {% endif %}
                            </span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script async>
    base_init();
    verify_init();
    const mainDiv = document.getElementById('main-div');
    if (document.body.clientWidth > 800)
        drawer.open = true;
    onresize = function () {
        if (document.body.clientWidth > 800)
            drawer.open = true;
    };
    {% block script %}{% endblock %}
    {% if success_alert or fail_alert %}
        window.base_info_init();
        window.base_info_dialog.open();
    {% endif %}
</script>
</body>
</html>