<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录 - Train Ticket</title>
    <link href="{{ url_for('static', filename='mdc-bundle.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='material-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='mdc-bundle.js') }}"></script>
    <link href="{{ url_for('static', filename='login.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
<div class="center-wrapper" id="login-wrapper">
    <div class="surface">
        <h3 class="mdc-typography--headline3 padding-1em">登录</h3>
        <form action="" method="post" name="login" id="login-form">
            <div class="input-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="id-text-field">
                <i class="material-icons mdc-text-field__icon">account_box</i>
                <input type="text" class="mdc-text-field__input" id="id" name="id"
                       pattern="^\d{4,20}$" required
                       oninput="
                           document.getElementById('id-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('id-icon').innerText = 'check';
                           this.reportValidity();"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('id-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('id-icon').innerText = 'error';"
                       aria-controls="id-helper-text"
                       aria-describedby="id-helper-text">
                <i class="material-icons mdc-text-field__icon" id="id-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="id">用户ID</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="id-helper-text" aria-hidden="true">
                    请输入符合格式的用户ID
                </div>
            </div>
            <div class="input-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="password-text-field">
                <i class="material-icons mdc-text-field__icon">vpn_key</i>
                <input type="password" class="mdc-text-field__input" id="password" name="password"
                       pattern="^[\u0020-\u007e]{6,20}$" required
                       oninput="
                           document.getElementById('password-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('password-icon').innerText = 'check';
                           this.reportValidity();"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('password-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('password-icon').innerText = 'error';"
                       aria-controls="password-helper-text"
                       aria-describedby="password-helper-text">
                <i class="material-icons mdc-text-field__icon" id="password-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="password">密码</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="password-helper-text" aria-hidden="true">
                    请输入符合格式的密码
                </div>
            </div>
            <div class="button-wrapper">
                <button type="submit" class="mdc-button mdc-button--raised width-120px" id="login-button"
                        onclick="if (document.getElementById('login-form').reportValidity()) {
                            document.getElementById('login-form').submit();
                            this.disabled = true
                        }">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                    <span class="mdc-button__label">登录</span>
                </button>
            </div>
        </form>
        <div class="button-wrapper">
            <button class="jump-register-button mdc-button" id="jump-register-button"
                    onclick="location.href='/register'">
                <span class="mdc-button__label">没有账号？点此创建</span>
            </button>
        </div>
    </div>
</div>
{% if show_alert %}
    <div class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-title"
         aria-describedby="dialog-content"
         id="login-info-dialog">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="dialog-title">Oops...</h2>
                <div class="mdc-dialog__content" id="dialog-content">
                    {{ message }}
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                        <span class="mdc-button__label">╮(╯-╰)╭</span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
{% endif %}
<script async>
    window.login_init();
    {% if show_alert %}
        window.login_info_init();
        window.login_info_dialog.open();
    {% endif %}
    {% if set_id %}
        window.id_text_field.value = '{{ set_id }}';
        document.getElementById('id-text-field').classList.remove('mdc-text-field--invalid');
        document.getElementById('id-icon').innerText = 'check';
        document.getElementById('id').reportValidity();
    {% endif %}
</script>
</body>
</html>