<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录 - Train Ticket</title>
    <link href="../static/base.css" rel="stylesheet">
    <link href="../static/login-bundle.css" rel="stylesheet">
    <link href="../static/login.css" rel="stylesheet">
    <script src="../static/login-bundle.js"></script>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
<div class="center-wrapper">
    <h1>登录</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <div class="id mdc-text-field">
            {{ form.id(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="id">用户名</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="password mdc-text-field">
            {{ form.password(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="password">密码</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="login-buttons">
            <button type="reset" class="login-reset-button mdc-button">
                <span class="mdc-button__label">重置</span>
            </button>
            <button type="submit" class="login-button mdc-button mdc-button--raised">
                <span class="mdc-button__label">登录</span>
            </button>
        </div>
    </form>
    <div class="jump-register-div">
        <button class="jump-register-button mdc-button" onclick="location.href='/register'">
            <span class="mdc-button__label">没有账号？点此创建</span>
        </button>
    </div>
</div>
{% if show_alert %}
    <div class="alert-wrapper">
        <div class="login-info-dialog mdc-dialog"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="dialog-title"
             aria-describedby="dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="dialog-title">登录失败</h2>
                    <div class="mdc-dialog__content" id="dialog-content">
                        {{ message }}
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">
                            <span class="mdc-button__label">╮(╯-╰)╭</span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script async>
    window.login_init();
    {% if show_alert %}
        window.login_info_init();
        window.login_info_dialog.open();
    {% endif %}
</script>
</body>
</html>