<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops... - Train Ticket</title>
    <link href="../static/bundle.css" rel="stylesheet">
    <link href="../static/login_info.css" rel="stylesheet">
    <script src="../static/bundle.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="mdc-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-title"
         aria-describedby="dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="dialog-title">
                    {{ title }}
                </h2>
                <div class="mdc-dialog__content" id="dialog-content">
                    {% for info in messages %}
                        <p>{{ info }}</p>
                    {% endfor %}
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" onclick="location.href='/'">
                        ╮(╯-╰)╭
                    </button>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>