{% extends "base.html" %}
{% block webpage_title %}
    主页 - Train Ticket
{% endblock %}
{% block child_header %}
    <link href="../static/main_page.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="surface">
        <p class="mdc-typography--headline5" id="welcome-para">您好，{{ username }}！</p>
    </div>
    {% if administrator %}
        <div class="surface">
            <p class="mdc-typography--headline5" id="administrator-para">您当前以管理员身份登录</p>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    main_page_init();
    drawer.open = true;
    document.getElementById('main_page').onclick = function (a, b) {};
    document.getElementById('main_page').classList.add('mdc-list-item--activated');
{% endblock %}