{% extends "base.html" %}
{% block webpage_title %}
    订购车票 - Train Ticket
{% endblock %}
{% block child_header %}
    <link href="{{ url_for('static', filename='order.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="wrapper width-80 width-100-if-max-width-1000">
        <div class="surface align-center">
            <h3 class="mdc-typography--headline3 padding-20">查询车次</h3>
            <div class="station-input-wrapper width-50 width-100-if-max-width-1000">
                <div class="station-input-input-wrapper">
                    <div class="input-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                         id="depart-text-field">
                        <i class="material-icons mdc-text-field__icon">call_made</i>
                        <input type="text" class="mdc-text-field__input" id="depart" name="depart"
                               pattern=".*" required
                               oninput="
                               document.getElementById('depart-text-field').classList.remove('mdc-text-field--invalid');
                               document.getElementById('depart-icon').innerText = 'check';
                               this.reportValidity();
                               update_station_suggest(depart_text_field, this, depart_menu, document.getElementById('depart-menu-list'))"
                               onclick="setTimeout(function () {
                                   update_station_suggest(depart_text_field, document.getElementById('depart'), depart_menu, document.getElementById('depart-menu-list'))
                               }, 100)"
                               onkeydown="if (event.keyCode === 40) {
                                   document.getElementById('depart-menu-list').firstChild.focus()
                               }"
                               oninvalid="
                               event.preventDefault();
                               document.getElementById('depart-text-field').classList.add('mdc-text-field--invalid');
                               document.getElementById('depart-icon').innerText = 'error';">
                        <i class="material-icons mdc-text-field__icon" id="depart-icon">error</i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="mdc-floating-label" for="depart">出发站</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
                <div class="station-suggest-menu-wrapper">
                    <div class="mdc-menu mdc-menu-surface station-suggest-menu" id="depart-menu">
                        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical"
                            tabindex="-1"
                            id="depart-menu-list">
                            <li class="mdc-list-item" role="menuitem">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="station-input-wrapper width-50 width-100-if-max-width-1000">
                <div class="station-input-input-wrapper">
                    <div class="input-wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                         id="arrive-text-field">
                        <i class="material-icons mdc-text-field__icon">flag</i>
                        <input type="text" class="mdc-text-field__input" id="arrive" name="arrive"
                               pattern=".*" required
                               oninput="
                               document.getElementById('arrive-text-field').classList.remove('mdc-text-field--invalid');
                               document.getElementById('arrive-icon').innerText = 'check';
                               this.reportValidity();
                               update_station_suggest(arrive_text_field, this, arrive_menu, document.getElementById('arrive-menu-list'))"
                               onclick="setTimeout(function () {
                                   update_station_suggest(arrive_text_field, document.getElementById('arrive'), arrive_menu, document.getElementById('arrive-menu-list'))
                               }, 100)"
                               onkeydown="if (event.keyCode === 40) {
                                   document.getElementById('arrive-menu-list').firstChild.focus()
                               }"
                               oninvalid="
                               event.preventDefault();
                               document.getElementById('arrive-text-field').classList.add('mdc-text-field--invalid');
                               document.getElementById('arrive-icon').innerText = 'error';">
                        <i class="material-icons mdc-text-field__icon" id="arrive-icon">error</i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label class="mdc-floating-label" for="arrive">到达站</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                </div>
                <div class="station-suggest-menu-wrapper">
                    <div class="mdc-menu mdc-menu-surface station-suggest-menu" id="arrive-menu">
                        <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical"
                            tabindex="-1"
                            id="arrive-menu-list">
                            <li class="mdc-list-item" role="menuitem">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="input-wrapper width-100" id="date-picker"></div>
            <div class="button-wrapper">
                <button class="mdc-button mdc-button--raised" id="query-ticket-button"
                        onclick="if (document.getElementById('depart').reportValidity() &&
                                     document.getElementById('arrive').reportValidity() &&
                                     document.querySelector('#date-picker div div input').reportValidity()) {
                                     document.getElementById('ticket-table').innerHTML = '';
                                     document.getElementById('query-ticket-error-info').classList.add('hidden');
                                     this.disabled = true;
                                     $.getScript('ajax_query_ticket?from=' + document.getElementById('depart').value +
                                         '&to=' + document.getElementById('arrive').value +
                                         '&date=' + document.querySelector('#date-picker input').value +
                                         '&catalog=DGZ', function() {
                                             document.getElementById('query-ticket-button').disabled = false;
                                         })
                                 }">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>
                    <span class="mdc-button__label">查询车次</span>
                </button>
            </div>
            <table id="ticket-table">
            </table>
            <span id="query-ticket-error-info" class="mdc-typography--body1 hidden"></span>
        </div>
    </div>
{% endblock %}
{% block script %}
    order_init();
    station_suggest_init();
    document.getElementById('order').onclick = function (a, b) {};
    document.getElementById('order').classList.add('mdc-list-item--activated');
{% endblock %}