<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册 - Train Ticket</title>
    <link href="../static/base.css" rel="stylesheet">
    <link href="../static/register-bundle.css" rel="stylesheet">
    <link href="../static/register.css" rel="stylesheet">
    <script src="../static/register-bundle.js"></script>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
<div class="center-wrapper">
    <h1 class="mdc-typography--body1">注册</h1>
    <form action="" method="post" name="register">
        {{ form.hidden_tag() }}
        <div class="id mdc-text-field">
            {{ form.id(class_="mdc-text-field__input", disabled="disabled") }}
            <label class="mdc-floating-label" for="id">用户ID</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="password mdc-text-field">
            {{ form.password(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="password">密码</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="password-repeat mdc-text-field">
            {{ form.password_repeat(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="password_repeat">重复密码</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="name mdc-text-field">
            {{ form.name(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="name">姓名</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="email mdc-text-field">
            {{ form.email(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="email">邮箱地址</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="phone mdc-text-field">
            {{ form.phone(class_="mdc-text-field__input") }}
            <label class="mdc-floating-label" for="phone">电话号码</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <div class="register-buttons">
            <button type="reset" class="register-reset-button mdc-button">
                <span class="mdc-button__label">重置</span>
            </button>
            <button type="submit" class="register-button mdc-button mdc-button--raised">
                <span class="mdc-button__label">注册</span>
            </button>
        </div>
    </form>
    <div class="jump-login-div">
        <button class="jump-login-button mdc-button" onclick="location.href='/login'">
            <span class="mdc-button__label">已有账号？点此登录</span>
        </button>
    </div>
</div>
{% if success_alert or fail_alert %}
    <div class="alert-wrapper">
        <div class="register-info-dialog mdc-dialog"
             role="alertdialog"
             aria-modal="true"
             aria-labelledby="dialog-title"
             aria-describedby="dialog-content">
            <div class="mdc-dialog__container">
                <div class="mdc-dialog__surface">
                    <h2 class="mdc-dialog__title" id="dialog-title">
                        {% if success_alert %}
                            注册成功
                        {% elif fail_alert %}
                            注册失败
                        {% endif %}
                    </h2>
                    <div class="mdc-dialog__content" id="dialog-content">
                        {% if success_alert %}
                            您的用户ID是 {{ user_id }} ，请牢记。
                        {% elif fail_alert %}
                            {{ message }}
                        {% endif %}
                    </div>
                    <footer class="mdc-dialog__actions">
                        <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close"
                                {% if success_alert %}
                                onclick="location.href='/main_page'"
                                {% endif %}>
                            <span class="mdc-button__label">
                                {% if success_alert %}
                                    b（￣▽￣）d　
                                {% elif fail_alert %}
                                    ╮(╯-╰)╭
                                {% endif %}
                            </span>
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script async>
    window.register_init();
    {% if success_alert or fail_alert %}
        window.register_info_init();
        window.register_info_dialog.open();
    {% endif %}
</script>
</body>
</html>
