<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>注册 - Train Ticket</title>
    <link href="../static/mdc-bundle.css" rel="stylesheet">
    <link href="../static/base.css" rel="stylesheet">
    <link href="../static/register.css" rel="stylesheet">
    <link href="../static/material-icons.css" rel="stylesheet">
    <script src="../static/mdc-bundle.js"></script>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>
<body>
<div class="center-wrapper" id="register-wrapper">
    <div class="surface">
        <h3 class="mdc-typography--headline3 padding-20">注册</h3>
        <form action="" method="post" name="register">
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="id-text-field">
                <i class="material-icons mdc-text-field__icon">account_box</i>
                <input type="text" class="mdc-text-field__input" id="id" name="id" value="ID将自动生成"
                       aria-controls="id-helper-text" aria-describedby="id-helper-text" disabled>
                <i class="material-icons mdc-text-field__icon" id="id-icon">check</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="id">用户ID</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="id-helper-text"
                     aria-hidden="true">
                    (+_+)?
                </div>
            </div>
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="password-text-field">
                <i class="material-icons mdc-text-field__icon">vpn_key</i>
                <input type="password" class="mdc-text-field__input" id="password" name="password"
                       pattern="^[\u0020-\u007e]{6,20}$" required
                       oninput="
                           document.getElementById('password-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('password-icon').innerText = 'check';
                           this.reportValidity();
                           if (this.value !== document.getElementById('password_repeat').value) {
                               document.getElementById('password_repeat-text-field').classList.add('mdc-text-field--invalid');
                               document.getElementById('password_repeat-icon').innerText = 'error';
                               document.getElementById('password_repeat').setCustomValidity('密码不一致');
                           } else {
                               document.getElementById('password_repeat-text-field').classList.remove('mdc-text-field--invalid');
                               document.getElementById('password_repeat-icon').innerText = 'check';
                               document.getElementById('password_repeat').setCustomValidity('');
                           }"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('password-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('password-icon').innerText = 'error';"
                       aria-controls="password-helper-text"
                       aria-describedby="password-helper-text">
                <i class="material-icons mdc-text-field__icon" id="password-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="password">密码</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="password-helper-text" aria-hidden="true">
                    长度在6-20位之间，允许包含特殊字符
                </div>
            </div>
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="password_repeat-text-field">
                <i class="material-icons mdc-text-field__icon">vpn_key</i>
                <input type="password" class="mdc-text-field__input" id="password_repeat" name="password_repeat"
                       required
                       oninput="
                           if (this.value !== document.getElementById('password').value) {
                               document.getElementById('password_repeat-text-field').classList.add('mdc-text-field--invalid');
                               document.getElementById('password_repeat-icon').innerText = 'error';
                               setCustomValidity('密码不一致');
                           } else {
                               document.getElementById('password_repeat-text-field').classList.remove('mdc-text-field--invalid');
                               document.getElementById('password_repeat-icon').innerText = 'check';
                               setCustomValidity('');
                           }"
                       aria-controls="password_repeat-helper-text"
                       aria-describedby="password_repeat-helper-text">
                <i class="material-icons mdc-text-field__icon" id="password_repeat-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="password_repeat">重复密码</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="password-helper-text" aria-hidden="true">
                    两次输入的密码不一致
                </div>
            </div>
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="name-text-field">
                <i class="material-icons mdc-text-field__icon">face</i>
                <input type="text" class="mdc-text-field__input" id="name" name="name"
                       pattern="^\S{1,10}$" required
                       oninput="
                           document.getElementById('name-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('name-icon').innerText = 'check';
                           this.reportValidity();"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('name-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('name-icon').innerText = 'error';"
                       aria-controls="name-helper-text"
                       aria-describedby="name-helper-text">
                <i class="material-icons mdc-text-field__icon" id="name-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="name">姓名</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" id="name-helper-text"
                     aria-hidden="true">
                    姓名长度必须在1-10之间，且不包括空格
                </div>
            </div>
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="email-text-field">
                <i class="material-icons mdc-text-field__icon">email</i>
                <input type="text" class="mdc-text-field__input" id="email" name="email"
                       pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" required
                       oninput="
                           document.getElementById('email-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('email-icon').innerText = 'check';
                           this.reportValidity();"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('email-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('email-icon').innerText = 'error';"
                       aria-controls="email-helper-text"
                       aria-describedby="email-helper-text">
                <i class="material-icons mdc-text-field__icon" id="email-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="email">电子邮箱</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="email-helper-text" aria-hidden="true">
                    请输入正确的电子邮箱地址
                </div>
            </div>
            <div class="input_wrapper mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon mdc-text-field--with-trailing-icon"
                 id="phone-text-field">
                <i class="material-icons mdc-text-field__icon">phone</i>
                <input type="text" class="mdc-text-field__input" id="phone" name="phone"
                       pattern="^\+?[0-9]{3,}$" required
                       oninput="
                           document.getElementById('phone-text-field').classList.remove('mdc-text-field--invalid');
                           document.getElementById('phone-icon').innerText = 'check';
                           this.reportValidity();"
                       oninvalid="
                           event.preventDefault();
                           document.getElementById('phone-text-field').classList.add('mdc-text-field--invalid');
                           document.getElementById('phone-icon').innerText = 'error';"
                       aria-controls="phone-helper-text"
                       aria-describedby="phone-helper-text">
                <i class="material-icons mdc-text-field__icon" id="phone-icon">error</i>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label class="mdc-floating-label" for="phone">联系电话</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <div class="mdc-text-field-helper-line">
                <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg"
                     id="phone-helper-text" aria-hidden="true">
                    请输入正确的联系电话
                </div>
            </div>
            <div class="button-wrapper">
                <button type="reset" class="mdc-button" id="register-reset-button">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">clear</i>
                    <span class="mdc-button__label">重置</span>
                </button>
                <button type="submit" class="mdc-button mdc-button--raised width-120px" id="register-button">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">check</i>
                    <span class="mdc-button__label">注册</span>
                </button>
            </div>
        </form>
        <div class="button-wrapper">
            <button class="mdc-button" id="jump-login-button" onclick="location.href='/login'">
                <span class="mdc-button__label">已有账号？点此登录</span>
            </button>
        </div>
    </div>
</div>
{% if success_alert or fail_alert %}
    <div class="mdc-dialog"
         id="register-info-dialog"
         role="alertdialog"
         aria-modal="true"
         aria-labelledby="dialog-title"
         aria-describedby="dialog-content">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">
                <h2 class="mdc-dialog__title" id="dialog-title">
                    {% if success_alert %}
                        ( •̀ ω •́ )y
                    {% elif fail_alert %}
                        Oops...
                    {% endif %}
                </h2>
                <div class="mdc-dialog__content" id="dialog-content">
                    {% if success_alert or fail_alert %}
                        {{ message }}
                    {% endif %}
                </div>
                <footer class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close"
                            {% if success_alert %}
                            onclick="location.href='/main_page'"
                            {% endif %}>
                            <span class="mdc-button__label">
                                {% if success_alert %}
                                    b（￣▽￣）d　
                                {% elif fail_alert %}
                                    ╮(╯-╰)╭
                                {% endif %}
                            </span>
                    </button>
                </footer>
            </div>
        </div>
    </div>
{% endif %}
<script async>
    window.register_init();
    {% if success_alert or fail_alert %}
        window.register_info_init();
        window.register_info_dialog.open();
    {% endif %}
    {% if set_name %}
        window.name_text_field.value = '{{ set_name }}';
        document.getElementById('name-text-field').classList.remove('mdc-text-field--invalid');
        document.getElementById('name-icon').innerText = 'check';
        document.getElementById('name').reportValidity();
    {% endif %}
    {% if set_email %}
        window.email_text_field.value = '{{ set_email }}';
        document.getElementById('email-text-field').classList.remove('mdc-text-field--invalid');
        document.getElementById('email-icon').innerText = 'check';
        document.getElementById('email').reportValidity();
    {% endif %}
    {% if set_phone %}
        window.phone_text_field.value = '{{ set_phone }}';
        document.getElementById('phone-text-field').classList.remove('mdc-text-field--invalid');
        document.getElementById('phone-icon').innerText = 'check';
        document.getElementById('phone').reportValidity();
    {% endif %}
</script>
</body>
</html>